{% raw %}{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>{% spaceless %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}{% endraw %}{{ cookiecutter.project_name }}{% raw %}{% endblock head_title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    {% endspaceless %}</head>

    <body>{% spaceless %}
        <div id="page-body" class="d-grid gap-3 p-3">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">{% endraw %}{{ cookiecutter.project_name }}{% raw %}</a>
                </div>
            </nav>
            <div id="page-content" class="container-xxl">
                {% block content %}{% endblock %}
            </div>
        </div>
        <script src="{% static "js/main.js" %}"></script>
    {% endspaceless %}</body>
</html>
{% endraw %}
